$downPhone: '(max-width:480px)';
$upPhone: '(min-width:320px)';
$upTaplet: '(min-width: 768px)';
$onlyTaplet: '(min-width: 768px) and (max-width: 992px)';
$upSMDesktop: '(min-width: 992px)';
$downSMDesktop: '(max-width: 992px)';
$upLGDesktop: '(min-width: 1200px)';
