input,
textarea,
button,
select,
a,
div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: inherit;
  font-family: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
    font-family: inherit;
  }
}

body {
  overflow-x: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sorts Mill Goudy', serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media #{$upTaplet} {
    width: 750px;
  }

  @media #{$upSMDesktop} {
    width: 970px;
  }

  @media #{$upLGDesktop} {
    width: 1170px;
  }
}

.hidden-sm {
  @media (max-width: 991px) {
    display: none;
  }
}

.hidden-lg {
  @media #{$upSMDesktop} {
    display: none;
  }
}
