@import '../helpers/variables';
@import '../helpers/mixins';

.slider {
  .glide {
    &__track {
      .glide__slides {
        margin: 0;

        .glide__slide {
          .slide__image {
            .bg-image {
              background-size: cover;
              height: 100vh;
              width: 100vw;

              &--1 {
                background-image: url(../images/slider/slider-m-1.jpg);
                background-position: center center;

                @media #{$upSMDesktop} {
                  background-image: url(../images/slider/slider-1.jpg);
                  background-position: top center;
                  background-size: 130vw;
                }
              }

              &--2 {
                background-image: url(../images/slider/slider-m-2.jpg);
                background-position: center center;

                @media #{$upSMDesktop} {
                  background-image: url(../images/slider/slider-2.jpg);
                }
              }

              &--3 {
                background-image: url(../images/slider/slider-m-3.jpg);
                background-position: center center;

                @media #{$upSMDesktop} {
                  background-image: url(../images/slider/slider-3.jpg);
                }
              }

              &--4 {
                background-image: url(../images/slider/slider-m-4.jpg);
                background-position: center center;
                @media (min-width: 992px) {
                  background-image: url(../images/slider/slider-4.jpg);
                }
              }

              &--5 {
                background-image: url(../images/slider/slider-m-5.jpg);
                background-position: center center;
                @media (min-width: 992px) {
                  background-image: url(../images/slider/slider-5.jpg);
                }
              }

              &--6 {
                background-image: url(../images/slider/slider-m-6.jpg);
                background-position: center center;
                @media (min-width: 992px) {
                  background-image: url(../images/slider/slider-6.jpg);
                }
              }

              &--7 {
                background-image: url(../images/slider/slider-m-7.jpg);
                background-position: center center;
                @media (min-width: 992px) {
                  background-image: url(../images/slider/slider-7.jpg);
                }
              }
            }
          }
        }
      }
    }

    &__arrows {
      .glide__arrow {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: block;
        line-height: 1;
        opacity: 1;
        opacity: 0.5;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: all 150ms ease-in-out;
        z-index: 1;

        &:focus {
          outline: none;
        }

        &:hover {
          opacity: 1;
        }

        &--left {
          left: 1rem;
          transform: translateY(-50%) rotate(180deg);
        }

        &--right {
          right: 1rem;
        }

        img {
          width: 2.5rem;
        }
      }
    }
  }
}

.about-me {
  align-items: center;
  background-color: $bgColor;
  display: flex;
  flex-flow: column wrap;
  justify-items: center;
  padding: $section-padding 0;
  text-align: center;

  .h1 {
    margin-bottom: $section-padding - 1rem;
  }

  .h2 {
    margin-bottom: $section-padding - 1rem;
    margin-top: $section-padding - 1rem;
  }

  img {
    height: 400px;
    object-fit: cover;
    width: 100%;
  }

  .btn {
    margin-top: $section-padding - 2rem;
  }

  @media #{$upTaplet} {
    .about-me__wrapper {
      &:nth-of-type(2) {
        img {
          height: 100%;
        }
      }
    }
  }

  @media #{$upSMDesktop} {
    .about-me-container {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;

      .about-me__wrapper {
        flex: 1;

        &:nth-of-type(2) {
          padding-left: 1rem;
          padding-right: 1rem;

          img {
            height: 100%;
          }
        }
      }

      .p {
        font-size: 15px;
        letter-spacing: 0.048rem;
        line-height: 31px;
      }

      .hl {
        margin-top: 2rem;
      }
    }
  }
}

.featured {
  padding-bottom: $section-padding;
  padding-top: $section-padding;
  text-align: center;

  .h2 {
    margin-bottom: $section-padding - 1rem;
  }

  .btn {
    margin-top: $section-padding - 1rem;
  }
}
