@import '../helpers/variables';
@import '../helpers/mixins';
// headings
.h1 {
  font-size: $main-h;
  letter-spacing: 4px;
}

.main-title {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: $main-h;
  letter-spacing: 0.048em;
  padding-bottom: 1rem;
  position: relative;
  text-transform: uppercase;

  &::before {
    background-color: $primaryColor;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    width: 150px;
  }

  &::after {
    background-color: $primaryColor;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    top: 100%;
    transform: translateX(-50%) rotate(30deg);
    width: 30px;
  }
}

.main-paragraph {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 18px;
  letter-spacing: 0.103em;
  line-height: 25px;
}

.h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: $second-h;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.paragraph {
  font-size: $par-size;
  letter-spacing: 0.042rem;
  line-height: 28px;
}

.hl {
  background-color: $darkColor;
  border-radius: 1px;
  display: block;
  height: 2px;
  margin: 1rem 0;
}

.btn {
  background-color: transparent;
  border: 1px solid $primaryColor;
  display: inline-block;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: $par-size - 0.1rem;
  letter-spacing: 1px;
  padding: 0.7rem 1rem 0.4rem;
  position: relative;
  text-transform: uppercase;
  z-index: 2;
  @include easeout;

  &::before {
    animation: slidedown 0.5s;
    background-color: $primaryColor;
    bottom: -2px;
    content: '';
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 30%;
    z-index: -1;
    @include easeout;
  }

  &:hover {
    color: #fff;
    @include easeout;

    &::before {
      @include easeout;
      animation-duration: 0.5s;
      animation-fill-mode: both;
      animation-name: slideUp;
      animation-timing-function: ease-in-out;
    }
  }
}

@keyframes slideUp {
  0% {
    bottom: -2px;
    height: 3px;
    width: 30%;
  }

  40% {
    width: 100%;
  }

  50% {
    width: 100%;
  }

  100% {
    bottom: 0;
    height: 100%;
    width: 100%;
  }
}

@keyframes slidedown {
  0% {
    bottom: 0;
    height: 100%;
    width: 100%;
  }

  60% {
    width: 100%;
  }

  50% {
    width: 100%;
  }

  100% {
    bottom: -2px;
    height: 3px;
    width: 30%;
  }
}

.grid {
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-rows: 170px;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;

  @media #{$upSMDesktop} {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &__item {
    &--2 {
      grid-row: span 2;
    }

    &.portrait {
      grid-row: span 2 !important;
    }

    &--4 {
      grid-row: span 2;
    }

    &--5 {
      grid-row: span 2;
    }

    &--7 {
      grid-row: span 2;
    }

    &--8 {
      grid-row: span 2;
    }

    &--9 {
      grid-row: span 2;
    }

    &--11 {
      grid-column: 1 / -1;
    }

    &--13 {
      grid-row: span 2;
    }

    &--14,
    &--39 {
      grid-column: span 2;
      grid-row: span 2;
    }

    &--15 {
      grid-row: span 2;
    }

    &--18 {
      grid-row: span 2;

      &__image {
        object-position: top center;
      }
    }

    &--19 {
      grid-column: span 2;
      grid-row: span 2;
    }

    &--20 {
      grid-row: span 2;
    }

    &--22 {
      grid-row: span 2;
    }

    &--24 {
      grid-column: span 2;
    }

    @media #{$upSMDesktop} {
      &--3 {
        grid-row-start: 2;
      }

      &--6 {
        grid-column-start: 3;
        grid-row-start: 1;
      }

      &--11 {
        grid-column: 1 / -1;
        grid-row: span 2;
      }

      &--24 {
        grid-column: span 2;
        grid-row: span 2;
      }
    }
  }

  &__image {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
