@import '../helpers/variables';
@import '../helpers/mixins';

.navbar-container {
  left: 0;
  padding: 2rem 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;

  .container {
    display: flex;
    justify-content: center;

    .menu-branding--out {
      width: 160px;
      z-index: 3;

      @media #{$onlyTaplet} {
        width: 250px;
      }

      a {
        img {
          height: 100%;
          width: 100%;
        }
      }
    }

    .menu-btn {
      cursor: pointer;
      position: absolute;
      right: 35px;
      top: 46px;
      z-index: 4;
      @include easeout;

      .btn-line {
        background-color: $whiteColor;
        border-radius: 1.5px;
        display: block;
        height: 3px;
        margin: 0 0 6.9px;
        width: 36px;
        @include easeout;

        &:nth-of-type(2) {
          width: 28px;
        }
      }

      // rotate into X with menu btn
      &.close {
        transform: rotate(180deg) translateY(5px);

        .btn-line {
          background-color: $whiteColor;

          &:nth-child(1) {
            transform: rotate(45deg) translate(4px, 5px);
          }

          &:nth-child(2) {
            width: 0;
          }

          &:nth-child(3) {
            transform: rotate(-45deg) translate(9px, -10px);
          }
        }
      }
    }
  }
}

.menu {
  height: 100vh;
  opacity: 0.9;
  // transform: translateX(100%);
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  // will-change: transform;

  visibility: hidden;
  width: 100vw;
  z-index: 3;
  @include easeout;

  &.show {
    // transform: translateX(0);

    visibility: visible;
  }

  .menu-nav {
    align-items: center;
    background: $darkColor;
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    transform: translate3d(100%, 0, 0);
    @include easeout;

    &.show {
      transform: translate3d(0, 0, 0);
    }

    .nav-item {
      margin-bottom: 2.5rem;
      transform: translate3d(600px, 0, 0);
      @include easeout;

      &.show {
        transform: translate3d(0, 0, 0);
      }

      .nav-link {
        color: $whiteColor;
        font-size: 25px;
        text-transform: uppercase;
      }
    }
  }
}
@for $x from 1 through 4 {
  .menu .menu-nav .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 100ms;
  }
}

.navbar--web {
  color: #fff;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  .nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    padding-top: 2rem;

    .nav-item {
      display: inline-block;

      &:not(:last-of-type) {
        margin-right: 3rem;
      }

      .nav-link {
        font-size: 1.2rem;
        text-transform: uppercase;
      }
    }
  }

  .menu-branding {
    left: -20px;
    position: relative;

    a {
      img {
        width: 350px;
      }
    }
  }
}
